@import "tailwindcss";

/* Apply ONLY Poppins globally */
html,
body {
  font-family: var(--font-poppins);
  background-color: #ffffff;
  color: #111827;
  /* gray-900 */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Better text rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}