@import "tailwindcss";


/* Apply Poppins globally */
body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #ffffff;
  color: #111827;
  /* gray-900 */
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Better text rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
